* {

    margin: 0;
}

body {
    background:url("img/new.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    padding: 10px;
    float: left;
    width: fit-content;
    text-align: left;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px  5px 5px rgb(52, 72, 82,0.5) ;
}

section {
    width: 1000px;
    float: right;
    background: rgba(254, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    box-shadow: 5px  5px 5px 5px rgb(52, 72, 82,0.5) ;
}

article {
    padding: 30px;
}

/*************************** Navigation Style ***************************/

nav ul {
    padding: 10px;
}

nav ul li {
    display: inline-block;
    margin: 10px 5px;
    list-style-type: none;
}
nav ul li a {
    color: rgb(34, 58, 68);
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
    border-bottom: 1px solid rgb(255, 255, 255);

}

/*************************** Section Style ***************************/

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    padding: 27px 0px;
    border-bottom: 1px solid gray;
    color: rgb(34, 58, 68);
    background: rgba(255, 255, 255, 0.3);
}

h2 {
    margin: 30px 0;
    color: rgb(33, 63, 27);
}

p {
    color: rgb(24, 23, 23);
    letter-spacing: 2px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: 20px 0;
    text-align: center;
}

div img {
    box-shadow: 5px  5px 5px 5px rgb(52, 72, 82,0.5) ;
}

table {
    margin: 30px auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

th {
    padding: 18px;
    background-color: gray;
    font-weight: bold;
    letter-spacing: 1px;
}

td {
    padding: 12px;
    color: rgb(24, 23, 23);
}

th,
td {
    border: solid 1px #e6e6e6;
}

